.about{
    background-color: #fcfafa;
    padding: 0 0 40px;
}

.about img{
  margin-top: 20px;
}

.about-paragraph{
    width: 90%;
    text-align:justify;
    padding: 5px 277px 0 0;
}

.about-paragraph h1{
    font-family: 'El Messiri', sans-serif;
}

.about-paragraph h2{
    font-family: 'El Messiri', sans-serif;
}

.about-paragraph p{
    color: #6b6b6b;
    font-size: 23px;
    padding-top: 10px ;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.6;
    font-weight: 550;
}

@media only screen and (max-width:700px){
     .about-paragraph{ 
        width: 100%;
        text-align:justify;
        padding: 5px 10px;
    }

    .about-paragraph p{
        font-size: 17px;
        line-height: 2;
    }

    .about-paragraph h1{
        text-align: center;
    }

    .about-paragraph h2{
        text-align: center;
    }
        
    
    .about-paragraph p{
        padding: 10px 20px;
        font-family:'Cairo', sans-serif;
    }
}

